body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
nav {
  grid-row: 1/2;
  grid-column: 1/13;
  background: #20343b;
  height: 100%;
}

#logo {
  display: inline;
}
#icon-berthapp {
  background: url(../../assets/BerthAppIcon.png);
  background-size: contain;
  background-position: center center;
  height: 60px;
  width: 60px;
  display: inline-block;
}
#logotext {
  display: inline-block;
  font-size: 19px;
  font-family: "Kodchasan", sans-serif;
  color: #fa7040;
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
}
#nav-btn-container {
  float: right;
  margin-top: 10px;
}
.login-input {
  display: inline;
  margin-left: 12px;
}

.login-icon {
  height: 25px;
  width: 25px;
  vertical-align: -6px;
  margin-right: 2px;
}
#user-icon {
  display: inline-block;
  background: url(../../assets/userIconW.png);
  background-size: contain;
  background-position: center center;
}

#password-icon {
  display: inline-block;
  background: url(../../assets/lockIconV2White.png);
  background-size: contain;
  background-position: center center;
}
.input-user {
  height: 30px;
  width: 160px;
  border-style: none;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #445351;
  color: #131414;
  padding: 8px;
}
#log-in-btn {
  float: right;
  height: 30px;
  width: 110px;
  float: right;
  color: whitesmoke;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin-left: 18px;
  margin-right: 8px;
  background: #fa7040;
  border-style: none;
}
#container {
  display: grid;
  grid-column: 1/13;
  grid-row: 2/13;
}
#drawer {
  grid-column: 1/3;
  grid-row: 1/13;
  width: 100%;
}
#indicators-form {
  background: #7e8a8a;
  width: 100%;
}

#form-title {
  background: transparent;
  color: #fdffff;
  font-family: "Jura", sans-serif;
  font-size: 17px;
  font-weight: lighter;
  margin-left: 13px;
  margin-top: 10px;
}
.indicator-input {
  background: #e6e8e9;
  border-style: solid;
  border-color: #7e8a8a;
  border-left-width: 10px;
  border-right-width: 10px;
  width: 100%;
}
.indicator-icon {
  height: 46px;
  width: 46px;
  background: #445351;
  vertical-align: -9px;
  padding: 7px;
}
#location-span {
  color: #445351;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.input-item {
  background: #e6e8e9;
  border-style: none;
}

#map-icon {
  display: inline-block;
  background: url(../../assets/mapIconW.png);
  background-size: contain;
  background-position: center center;
  background-color: #445351;
}

#blood-icon {
  display: inline-block;
  background: url(../../assets/bloodPressurew.png);
  background-size: contain;
  background-position: center center;
  background-color: #445351;
}

#temperature-icon {
  display: inline-block;
  background: url(../../assets/BodyTemperatureIconW.png);
  background-size: contain;
  background-position: center center;
  background-color: #445351;
}

#heart-beat {
  display: inline-block;
  background: url(../../assets/HeartBeatIconW.png);
  background-size: contain;
  background-position: center center;
  background-color: #445351;
}

#dust-percentage {
  display: inline-block;
  background: url(../../assets/dustIconW.png);
  background-size: contain;
  background-position: center center;
  background-color: #445351;
}

#sulphur-icon {
  display: inline-block;
  background: url(../../assets/sulfurIconW.png);
  background-size: contain;
  background-position: center center;
  background-color: #445351;
}

#nitrogen-icon {
  display: inline-block;
  background: url(../../assets/nitrogen.png);
  background-size: contain;
  background-position: center center;
  background-color: #445351;
}
#fluor-icon {
  display: inline-block;
  background: url(../../assets/fluorIconW.png);
  background-size: contain;
  background-position: center center;
  background-color: #445351;
}

#carbon-icon {
  display: inline-block;
  background: url(../../assets/carbonoIconW.png);
  background-size: contain;
  background-position: center center;
  background-color: #445351;
}

#ozone-icon {
  display: inline-block;
  background: url(../../assets/OzoneIconW.png);
  background-size: contain;
  background-position: center center;
  background-color: #445351;
}
#btn-submit {
  height: 50px;
  color: #e6e8e9;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  background: #fa7040;
  width: 100%;
  margin-bottom: 4px;
  border-style: solid;
  border-color: #7e8a8a;
  border-top-width: 3px;
  border-left-width: 10px;
  border-right-width: 10px;
}
#filter {
  grid-column: 1/3;
  background: #e6e8e9;
  width: 100%;
  height: 260px;
  vertical-align: top;
}
#filter-title {
  display: block;
  height: 20px;
  background: transparent;
  color: #445351;
  font-family: "Jura", sans-serif;
  font-size: 17px;
  font-weight: lighter;
  margin-left: 12px;
  padding-top: 11px;
}
.datepicker-item {
  margin-left: 25px;
  margin-bottom: 5px;
}

.dp-labels {
  display: block;
  background: transparent;
  color: #445351;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: lighter;
  margin-top: 40px;
}

.calendar-icon {
  display: inline-block;
  background: url(../../assets/calendarIconW.png);
  background-size: contain;
  background-position: center center;
  background-color: #445351;
  height: 30px;
  width: 30px;
}
.datepickers {
  vertical-align: top;
}

#centerview {
  display: inline-block;
  grid-column: 3/10;
}

#map {
  height: 500px;
  width: 100%;
}
.pollution-view {
  grid-column: 10/13;
  // display: grid;
  // grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  width: 350px;
}
#health-chart {
  width: 900px;
  height: 350px;
  margin: 0 auto;
}
#dp-chart {
  width: 400px;
  height: 300px;
  margin: 10 auto;
}
#sp-chart {
  height: 185px;
  width: 420px;
  margin: 10 auto;
}
#op-chart {
  width: 400px;
  height: 300px;
  margin: 10 auto;
}
